.result-page {
    padding: 20px;
    text-align: center;
}

.result-page h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.result-page h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.result-page p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.result-page ul {
    list-style-type: none;
    padding: 0;
}

.result-page li {
    margin-bottom: 15px;
    text-align: left;
}

.result-page strong {
    display: block;
    margin-bottom: 5px;
}